@import "tailwindcss";

@import '@fontsource/lato/300.css';
@import '@fontsource/lato/400.css';
@import '@fontsource/lato/700.css';
@import '@fontsource/lato/900.css';

@import '@fontsource/playfair-display/400.css';
@import '@fontsource/playfair-display/600.css';
@import '@fontsource/playfair-display/700.css';
@import '@fontsource/playfair-display/800.css';
@import '@fontsource/playfair-display/900.css';

@theme {
  --font-sans: 'Lato', sans-serif;
  --font-serif: 'Playfair Display', serif;
  
  --color-royal-green: #425f48;
  --color-royal-dark: #2f4633;
  --color-royal-gold: #dbad42;
  --color-royal-beige: #faf6eb;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-royal-beige);
}